<!DOCTYPE html>

<html lang="ja">
<head>
<title><%= title %></title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<script>
var n=0;		// 変数 n を用意し初期値 0 を与える
function a() {
	n++;	// n の値を１増やす（n++ などの書き方もある）
	console.log(n); // n の値を出力
}
</script>
</head>

<body>

<div class="container">
<h1 id="実験場">実験場</h1>
<hr />

<p><button onclick='a()'>
ぼたん
</button></p>

<hr />
<p><a href="/" title="ホームページ">前のページに戻る</a></p>
</div>

</body>
</html>
