extends ../layout

block script
  script(type="text/javascript").
    let saveTable = () => { 
      let demoTable = document.getElementById('demo');
      let cell = new Object;
      let value = new Object;
      for( let i = 0; i < #{row}; i++ ){
        value[i+':'+'-1'] = '\\r';
        for( let j = 0; j < #{col}; j++){
          cell = demoTable.getElementsByClassName(i+':'+j)[0];
          value[i+':'+j] = cell.childNodes[0].value;
        };
      };
      return(value);
    };

block content
  :markdown-it
    # 実験場
  p
    table(id="demo")
      - for( let i = 0; i < row; i++ )
        tr
        - for( let j = 0; j < col; j++)
          td(class=i+':'+j)
            input(type="text" size="5")
    br
    button(onclick="$.post('/csv',saveTable());") 保存
  p
    form(action="#" method="get")
      label 行：
      input(type="text" name="row")
      | 
      label 列：
      input(type="text" name="col")
      | 
      input(type="submit" value="生成")
  :markdown-it
    
    ***

    [前のページに戻る][]

    [前のページに戻る]: / "ホームページ"
