<!DOCTYPE html>

<html lang="ja">
<head>
<title><%= title %></title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<script type="text/javascript">
    function makeTable() { //関数を定義する
        let table = document.getElementById("demo"); //HTML DOM getElementByIdメソッド： id="demo"のHTMLエレメントを探す
        for( let i = 0; i < 10; i++ ){
            let row = document.createElement("tr"); //HTML DOM createElementメソッド：<tr>エレメント（表の行）を作る
            for( let j = 0; j < 10; j++ ){
                let cell = document.createElement("td"); //<td>エレメント（行の中のセル）を作る
                let text = document.createElement("INPUT"); //<input>エレメント（入力エリア）を作る
                text.setAttribute("type", "text"); //HTML DOM　setAttributeメソッド：エレメントの属性（attribute）をvar1, var2の形で設置する
                text.setAttribute("size", "5");
                text.setAttribute("value", (i*10)+j+1);
                cell.appendChild(text); //HTML　DOM　appendChildメソッド：変数のエレメント(text)を子ノードとして親ノードのオブジェクト(cell)の下に添付する
                row.appendChild(cell);
            }
            table.appendChild(row);
        }
    };
    window.onload = makeTable; //Browserオブジェクトのwindow(DOMの一部)のonloadイベント(DOM Eventオブジェクト)：ページをロードし終わったらすぐmakeTableを実行する
</script>
</head>

<body>

<div class="container">
<h1 id="実験場">実験場</h1>
<hr />

<p><table id="demo"></table></p>

<hr />
<p><a href="/" title="ホームページ">前のページに戻る</a></p>
</div>

</body>
</html>
