<!DOCTYPE html>

<html lang="ja">
<head>
<title><%= title %></title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
<h1 id="シュクの表計算webアプリ開発ブログ">シュクの表計算Webアプリ開発ブログ</h1>
<hr />
<p>卒論を書くために、エクセルの代わり品として、<br />
静的型付け機能を持つ（たぶん簡単な）表計算Webアプリを開発する。<br />
そのため、関連の技術と知識を収集・習得するのも必要である。</p>
<p>上流工程の路線図についてですが、現在の開発路線は暫定的に<br />
「node.js+express（ベースサーバ） -&gt; Gridを描けるフレームワーク（アプリの機能実装） -&gt;<br />
.xlsxを処理できるJSのライブラリ（アプリの機能実装） -&gt; JSとデータベースの連携（アプリの機能実装）」としている。</p>
<p>ステップずつ、関連する知識を勉強して、実例を作る。<br />
このサイトでは、プロジェクトの見本とサンドボックス（技術の実験場）を兼ねて、<br />
関連する知識を勉強する過程が記述されている。</p>
<p>なお、このサイトはmarkdown言語を使っており、<br />
MITライセンスに基づきリリースされる。<br />
サイトのGit repositoryアドレスは<a href="https://github.com/Tanukium/hsemi" title="hsemi">こちら</a>である。</p>
<hr />
<p><a href="/sand" title="実験場">実験場の入り口</a><br />
<a href="/blog" title="開発日誌">開発日誌（毎週アップデート）</a></p>
</div>

</body>
</html>
