<!DOCTYPE html>
<meta charset="UTF-8" />

<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<h1 id="開発日誌180521">開発日誌：180521</h1>
<h2 id="dockerを使ってサーバを動かす">Dockerを使ってサーバを動かす</h2>
<hr />
<p>Windows上のDockerでapache、nodejsを実行することで簡単なサーバを動かした。<br />
DockerToolboxを使うので、あらかじめデータボリュームを設置する必要である。</p>
<h3 id="データボリュームの設置">1. データボリュームの設置</h3>
<hr />
<p>まずDockerToolboxと一緒にインストールされたVBoxを開く。<br />
deafultという仮想マシンを見つけたら、それの <em>設定</em> 画面を開く。<br />
<img src="/images/1.jpg" title="1.jpg" alt="1.jpg" /><br />
上記の写真のように設置したらよい。</p>
<p>次にdefaultというDockerToolboxが使う仮想マシンを起動する。<br />
<img src="/images/2.png" title="2.png" alt="2.jpg" /><br />
のような画面が出たら<br />
<code>vi /mnt/sda1/var/lib/boot2docker/profile</code>を入力して<br />
この仮想マシンの起動するときの行為を設定するファイルを編集する。</p>
<p>viを使って（viの命令について別途勉強すること）このファイルの一番最後に</p>
<blockquote>
<pre><code>mkdir -p /docker
mount -t vboxsf -o uid=1000,gid=50 Docker /docker</code></pre>
</blockquote>
<p>を書き込んだらOK。<br />
あとは、一回仮想マシンを再起動することだけ。</p>
<h3 id="実際にサーバを動かす">2. 実際にサーバを動かす</h3>
<hr />
<p>まずは、データボリュームがきちんと仮想マシンにマウントされたかどうかを確認する。<br />
確認するためにわざと仮想マシンの画面をフォアグラウンドに出すのはちょっと面倒なので<br />
仮想マシンをヘッドレスモードの下で開いて、PuTTYなどのクライエントを使って、<br />
SSHプロトコルでdocker@192.168.99.100にアクセスする。ちなみに、パスコードはtcuserである。</p>
<p>もしすべてがうまくいけば、<br />
<img src="/images/3.jpg" title="3.jpg" alt="3.jpg" /><br />
のような画面が出てくる。画面と同じく</p>
<blockquote>
<pre><code>ls /  
ls /Docker  </code></pre>
</blockquote>
<p>を入力して、<code>D:\Docker</code>フォルダにあるサブフォルダのリストが<br />
出力されてきちんとマウントしたとのことが検証された。</p>
<p>それから実際にDockerでapacheサーバを動かす。<br />
<code>D:\Docker\apache\htdocs</code> と <code>D:\Docker\apache\logs</code><br />
という二つのフォルダを作って、<code>index.html</code>を作る。<br />
（index.htmlの内容はなんでもいい）　　</p>
<p>それが終わったら</p>
<blockquote>
<pre><code>docker run -d -p 80:80 -v /Docker/apache/htdocs:/usr/local/apache2/htdocs/ -v  /Docker/apache/logs:/usr/local/apache2/logs/ httpd  </code></pre>
</blockquote>
<p>をコマンドラインに入力して実行する。<br />
<img src="/images/4.jpg" title="4.jpg" alt="4.jpg" /><br />
のような感じである。<br />
さらにブラウザを開いて<a href="http://192.168.99.100/" class="uri">http://192.168.99.100/</a>にアクセスする。<br />
index.htmlの内容が出力されたら問題なし。</p>
<p>これで、Dockerを使って簡単なapacheサーバを動かした。</p>
<hr />
<p><a href="/blog" title="ブログ">前のページに戻る</a></p>
</body>
</html>
