extends ../layout

block jumbotron
  h1 180625：発表を兼ねて、次の目標を見定める

block content
  include:markdown-it .md/180625.md
  .container
    p.lead
    a(class="btn btn-secondary" href="/blog" role="button") 戻る