extends ../layout

block jumbotron
  h1 180709：POSTメソッドで任意の大きさのテーブルを作る

block content
  include:markdown-it .md/180709.md
  .container
    p.lead
    a(class="btn btn-secondary" href="/sts/blog" role="button") 戻る