extends ../layout

block jumbotron
  h1 180716：Pugの「出力しないコード」でテーブルを作る機能をサーバ側に移行
  p 前回はPOSTメソッドで指定の大きさの表を作ることができたが、その成果を先生に示したら二つの問題点を指摘していただいた。
  :markdown-it
    * 行と列などの簡単なパラメータ（引数）を渡すときPOSTより普通GETを使った方がいい
    * 「テーブルを作る」部分のスクリプトをクライエント側で実行させるよりサーバ側に移行した方がいい
  p.
    一つ目はなんとなく分かったが、二つ目はどう考えたりググったりしても実際の実現する方法が思い出せなかった。
    #[br] 
    その時、先生からさらに「Pugの組み込みスクリプト機能を使ったら」とのアドバイスをいただいた。
    #[br]
    ありがどう先生（涙）。
  p そのため、今回の日誌では二つの問題をどう解決したかを説明する。

block content
  include:markdown-it .md/180716.md
  .container
    p.lead
    a(class="btn btn-secondary" href="/blog" role="button") 戻る