<!DOCTYPE html>
<meta charset="UTF-8" />

<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<h1 id="開発日誌">開発日誌</h1>
<hr />
<p>毎週のゼミの進行とともに、こちらをアップデートする。</p>
<p><a href="/blog/180521" title="開発日誌：180521">180521</a><br />
<a href="/blog/180604" title="開発日誌：180604">180604</a></p>
<hr />
<p><a href="/" title="ホームページ">前のページに戻る</a></p>
</body>
</html>
